h1,
h2 {
  font-weight: 500;
  line-height: 1.25;
}

h1 {
  font-size: 2.25em;
  margin: 1rem 0;
}

h2 {
  font-size: 1.75em;
  margin: 1.75em 0 0.5em;
}

h3 {
  font-weight: 500;
  line-height: 1.25;
  margin: 0.5em 0;
  font-size: 1.25em;
}

h1,
h2,
h3 {
  filter: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"> <filter id="filter"> <feTurbulence type="turbulence" x="-10%" y="-10%" width="120%" height="120%" baseFrequency="0.08" numOctaves="2" result="turbulence" /> <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="1" xChannelSelector="R" yChannelSelector="R" /> </filter> </svg>#filter ');
}
