---
import Layout from "@layouts/Base.astro";
import Hero from "@components/Hero.astro";
import { Picture } from "astro:assets";
import Connections from "@images/connections.webp";
import ProfilePicture from "@images/profile.jpg";
import TRM from "@images/TRM_IC.png";
import AstroTypewriter from "@components/AstroTypewriter.astro";

var description = `
    Heeg.IO - Maximilian Heeg -
    I am a pediatrician with a passion for understanding the complexities of the
    immune system. My research is focused on CD8 tissue-resident memory
    T cells, or TRM cells for short. These cells are critical for protecting
    our bodies against infections and diseases, and I am fascinated by how they form
    and interact with other cells in the body.
`;
---

<Layout title="Home" description={description}>
  <Hero
    ProfilePicture={ProfilePicture}
    ProfilePicture_alt="Maximilian Heeg"
    Background={Connections}
    Background_alt="A network of cells in the small intestine"
  >
    <h1>Hi! I'm Max!</h1>
    <Fragment slot="subtitle">
      <div class="code font-bold text-heeg-dark w-12 flex-shrink-0">~/&gt;</div>
      <AstroTypewriter
        class="code typewriter"
        lines={[
          "Assistant Investigator @AllenInstitute for Immunology",
          "Former postdoc @GoldrathLab",
          "Former postdoc @Center for chronic Immunodeficiency",
          "Pediatrician",
          "Passion for T cells",
          "Hobby programmer",
          "Training in Immunodeficiencies",
          "Mountain enthusiast",
          "Dogfather",
        ]}
      />
    </Fragment>
  </Hero>

  <p class="onscroll-fade-in">
    I am a pediatrician with a deep curiosity about the immune system. My
    research focuses on CD8<sup>+</sup> tissue-resident memory T cells, or T<sub
      >RM</sub
    > cells. These cells are crucial for protecting us from infections and diseases,
    and I'm fascinated by how they develop and interact with other cells in the body.
  </p>

  <div class="aside onscroll-fade-in">
    <blockquote>
      <h3>Exploring Further?</h3>
      <p class="onscroll-fade-in">
        To learn more about me and my work, you can check out my
        <a target="_blank" href="https://github.com/maximilian-heeg"
          ><span class="i-mdi-github icon"></span> GitHub</a
        > and
        <a
          target="_blank"
          href="https://scholar.google.com/citations?user=H7sOPf8AAAAJ&hl=en"
          ><span class="i-mdi-account-school icon"></span> Google Scholar</a
        > profiles.
      </p>
    </blockquote>
  </div>

  <p class="onscroll-fade-in">
    When I'm not immersed in research, I enjoy spending time exploring the
    mountains with my Goldendoodle companion.
  </p>

  <div class="wider onscroll-fade-in">
    <Picture
      src={TRM}
      widths={[500, 600, 1000]}
      sizes="(max-width: 500px) 500px, (max-width: 600px) 600px, 1000px"
      formats={["avif", "webp"]}
      alt="TRM cells in the intestine"
      class="w-full aspect-[1000/593]"
      loading="lazy"
    />
    <div class="caption">
      T<sub>RM</sub> cells in the small intestine after acute LCMV infection.
    </div>
  </div>

  <h3>Unveiling the Secrets of Tissue-Specific Immunity</h3>
  <p class="onscroll-fade-in">
    I leverage the power of bioinformatics, specifically single-cell RNA
    sequencing (scRNA-seq) and spatial transcriptomics, to delve into the
    fascinating world of T cell adaptation to diverse tissue environments. These
    advanced techniques allow me to map the gene expression profiles of
    individual cells, providing a high-resolution view of the immune response at
    the tissue level.
  </p>

  <p class="onscroll-fade-in">
    One of the challenges in studying T<sub>RM</sub> cells is that they are difficult
    to isolate and study in the lab. However, with the development of spatial transcriptomics,
    we can now analyze individual T<sub>RM</sub> cells and study their gene expression
    patterns in great detail.
  </p>

  <div class="wider onscroll-fade-in">
    <video
      controls
      loop="true"
      poster="/video/umap_to_spatial.webp"
      preload="none"
    >
      <source src="/video/umap_to_spatial.webm" type="video/webm" />
      <source src="/video/umap_to_spatial.mp4" type="video/mp4" />
    </video>
    <div class="caption">
      Spatial transcriptomics of the small intestine. Cells can be viewed in
      UMAP or spatial coordinates
    </div>
  </div>

  <h3>Decoding the Language of Immunity: My Computational Toolkit</h3>
  <p>
    Coding is another passion of mine. I use Python and R to wrangle complex
    biological data and uncover hidden patterns. Lately, I've been exploring
    Rust. It's been a fun journey, but I'm still on the lookout for the perfect
    project to really put it to use.
  </p>
</Layout>

<style>
  .code {
    --at-apply: "font-mono text-lg";
  }

  .typewriter {
    --at-apply: "overflow-x-scroll overflow-y-hidden ml-0.5 scrollbar-none";
  }
</style>
