---
import Layout from "@layouts/Base.astro";
import Hero from "@components/Hero.astro";
import { Picture } from "astro:assets";
import Connections from "@images/connections.webp";
import ProfilePicture from "@images/profile.jpg";
import TRM from "@images/TRM_IC.png";

var description = `
    Heeg.IO - Maximilian Heeg -
    Welcome to my personal website! I am a pediatrician with a passion for
    understanding the complexities of the immune system. My research is focused
    on CD8<sup>+</sup> tissue-resident memory T cells, or TRM cells for
    short. These cells are critical for protecting our bodies against infections
    and diseases, and I am fascinated by how they form and interact with other cells
    in the body. To study TRM cells, I work with a mouse model of LCMV
    Armstrong infection. This model allows me to investigate the formation and function
    of TRM cells in response to viral infection. By infecting mice with
    this virus, I can study the formation of TRM cells in response to
    viral infection, and how these cells contribute to long-term immunity to the
    virus.
`;
---

<Layout title="Home" description={description}>
    <Hero
      Title={"Hi! I'm Max"}
      ProfilePicture={ProfilePicture}
      ProfilePicture_alt="Maximilian Heeg"
      Background={Connections}
      Prefix="~/&gt;"
      Lines={['cd ~', 'cd ./publications', 'ls -l']}
    />

  <p class="onscroll-fade-in">
    I am a pediatrician with a passion for understanding the complexities of the
    immune system. My research is focused on CD8<sup>+</sup> tissue-resident memory
    T cells, or T<sub>RM</sub> cells for short. These cells are critical for protecting
    our bodies against infections and diseases, and I am fascinated by how they form
    and interact with other cells in the body.
  </p>

  <div class="aside onscroll-fade-in">
    <blockquote>
      <h3>Exploring Further?</h3>
      <p class="onscroll-fade-in">
        To learn more about me and my research, have look at this website and
        feel free to visit my profiles on
        <a target="_blank" href="https://github.com/maximilian-heeg"
          ><span class="i-mdi-github icon"></span> GitHub</a
        > and
        <a
          target="_blank"
          href="https://scholar.google.com/citations?user=H7sOPf8AAAAJ&hl=en"
          ><span class="i-mdi-account-school icon"></span> Google Scholar</a
        >.
      </p>
    </blockquote>
  </div>

  <p class="onscroll-fade-in">
    When I'm not immersed in research, I enjoy spending time exploring the
    mountains with my Goldendoodle companion.
  </p>

  <div class="wider onscroll-fade-in">
    <Picture
      src={TRM}
      widths={[500, 600, 1000]}
      sizes="(max-width: 500px) 500px, (max-width: 600px) 600px, 1000px"
      formats={["avif", "webp"]}
      alt="TRM cells in the intestine"
      class="w-full aspect-[1000/593]"
      loading="lazy"
    />
    <div class="caption">
      T<sub>RM</sub> cells in the small intestine after acute LCMV infection.
    </div>
  </div>

  <h3>Unveiling the Secrets of Tissue-Specific Immunity</h3>
  <p class="onscroll-fade-in">
    I leverage the power of bioinformatics, specifically single-cell RNA
    sequencing (scRNA-seq) and spatial transcriptomics, to delve into the
    fascinating world of T cell adaptation to diverse tissue environments. These
    advanced techniques allow me to map the gene expression profiles of
    individual cells, providing a high-resolution view of the immune response at
    the tissue level.
  </p>

  <p class="onscroll-fade-in">
    One of the challenges in studying T<sub>RM</sub> cells is that they are difficult
    to isolate and study in the lab. However, with the development of spatial transcriptomics,
    we can now analyze individual T<sub>RM</sub> cells and study their gene expression
    patterns in great detail.
  </p>

  <div class="wider onscroll-fade-in">
    <video
      controls
      loop="true"
      poster="/video/umap_to_spatial.webp"
      preload="none"
    >
      <source src="/video/umap_to_spatial.webm" type="video/webm" />
      <source src="/video/umap_to_spatial.mp4" type="video/mp4" />
    </video>
    <div class="caption">
      Spatial transcriptomics of the small intestine. Cells can be viewed in
      UMAP or spatial coordinates
    </div>
  </div>

  <h3>Decoding the Language of Immunity: My Computational Toolkit</h3>
  <p>
    Beyond the wet lab, I'm passionate about using code to crack the code of the
    immune system. Python and R are my go-to languages for wrangling complex
    biological data and extracting hidden patterns. Always on the lookout for
    new tools, I'm currently exploring the potential of Rust, a fun journey, but
    I am still lacking a good usecase. :-)
  </p>
</Layout>
