---
export interface Props {
  Background: ImageMetadata;
  Background_alt: string;
  ProfilePicture?: ImageMetadata;
  ProfilePicture_alt?: string;
}

const { Background, Background_alt, ProfilePicture, ProfilePicture_alt } =
  Astro.props;

import { Picture, Image } from "astro:assets";
import AstroTypewriter from "./AstroTypewriter.astro";
---

<div class:list={["hero", ProfilePicture && "has_picture"]}>
  <div class="background">
    <Picture
      src={Background}
      widths={[500, 600, 1280]}
      sizes="(max-width: 500px) 500px, (max-width: 600px) 600px, 1000px"
      formats={["webp", "avif"]}
      alt={Background_alt}
      class="background w-full object-cover"
      loading="eager"
    />
  </div>
  <div class:list={["logo", ProfilePicture && "has_picture"]}>
    {
      ProfilePicture && ProfilePicture_alt && (
        <Image
          src={ProfilePicture}
          alt={ProfilePicture_alt}
          width={270}
          height={270}
          loading="eager"
          class="image"
        />
      )
    }

    <div class="title">
      <div class="first">
        <slot />
      </div>
      <div class="second">
        <slot name="subtitle" />
      </div>
    </div>
  </div>
</div>

<style>
  div.hero {
    --at-apply: "h-60 lg:h-80 relative flex items-end justify-center w-full mb-12";
  }

  div.hero.has_picture {
    --at-apply: "mb-16 sm:mb-26";
  }

  div.hero .background {
    --at-apply: "absolute inset-0 -z-2 h-60 lg:h-80";
  }

  div.hero .logo {
    --at-apply: "relative bg-gray-200/90 md:w-10/12 w-full border px-0";
    --at-apply: "flex items-center justify-start flex-row h-24 translate-y-1/2";
    --at-apply: "box-content";
  }

  div.hero .logo.has_picture {
    --at-apply: "ml-16 sm:ml-24 w-[calc(100%-4rem)] sm:w-[calc((100%/12*10)-6rem)]";
  }

  div.hero .logo .title {
    --at-apply: "my-0 lg:pl-4 pl-2 min-w-0 mr-2 max-h-full";
    --at-apply: "grid";
    grid-auto-rows: 1fr;
  }

  div.hero .logo .title .second {
    --at-apply: "flex items-center overflow-hidden max-w-full max-h-full";
  }

  div.hero .logo .title > .first,
  div.hero .logo .title > .second {
    --at-apply: "sm:my-0 my-1 sm:max-h-12 max-h-10 flex items-center";
  }

  div.hero .logo .image {
    --at-apply: "rounded-full border-2 border-heeg-light shadow-md shrink-0 grow-0 object-cover";
    --at-apply: "w-32 h-32  ring-1 ring-heeg-active hover:ring-4 transition-all duration-300 hover:scale-102";
    --at-apply: "-ml-16 sm:-ml-24 sm:w-48 sm:h-48 sm:block";
  }
</style>
