---
import { links } from "@data/navigation";
---

<astro-navigation>
  <div class="modal modal-closed">
    {links.map((link) => <a href={link.url}>{link.text}</a>)}
  </div>

  <header>
    <nav>
      <a
        class="z-10 m-2y p-1 no-underline text-heeg-dark rounded ml-2 hover:bg-heeg-dark/20"
        href="/"
      >
        <span class="lowercase text-2xl font-medium">Heeg</span><span
          class="font-black uppercase text-xl text-heeg-active before:content-dot"
          >IO</span
        >
      </a>

      <div class="flex flex-row items-center">
        <div class="hidden md:block space-x-4">
          {links.map((link) => <a href={link.url}>{link.text}</a>)}
        </div>

        <button id="hamburger-menu" aria-label="Menu" aria-expanded="false">
          <div>
            <div class="upper"></div>
            <div class="middle"></div>
            <div class="lower"></div>
          </div>
        </button>
      </div>
    </nav>
  </header>
</astro-navigation>

<style>
  .modal {
    --at-apply: fixed top-0 left-0 h-full w-full bg-white opacity-90 flex
      flex-col text-center font-light space-y-3 pt-18 z-10 transition-all
      duration-300;
  }

  .modal-closed {
    pointer-events: none;
    opacity: 0;
  }
  .modal a {
    --at-apply: "no-underline font-bold text-heeg-dark text-xl duration-300 hover:text-heeg-active";
  }

  header {
    --at-apply: "fixed top-0 w-full h-14 bg-heeg-light/95 z-11 shadow-navigation text-heeg-light";
  }

  header nav {
    --at-apply: flex justify-between items-center h-full mr-auto ml-auto
      box-border max-w-screen-xl;
  }

  header nav div a {
    --at-apply: "no-underline font-semibold text-heeg-dark text-xl transition-colors duration-300 hover:text-heeg-active";
  }

  header nav button {
    --at-apply: outline-none bg-inherit border-0 cursor-pointer z-11 group pr-3;
  }

  header nav button div {
    --at-apply: h-12 w-12 border-0 relative flex flex-col items-end
      justify-center;
  }

  header nav button div div {
    --at-apply: h-0.5 w-8 bg-heeg-dark absolute duration-300;
  }

  header nav button div div.upper {
    --at-apply: -translate-y-2;
  }
  header nav button div div.upper-open {
    --at-apply: rotate-135;
  }

  header nav button div div.middle {
    --at-apply: opacity-100 w-6;
  }
  header nav button div div.middle-open {
    --at-apply: opacity-50 w-0 mr-3;
  }

  header nav button div div.lower {
    --at-apply: translate-y-2 w-7;
  }
  header nav button div div.lower-open {
    --at-apply: -rotate-135;
  }
  header nav button:hover div div {
    --at-apply: "bg-heeg-active";
  }
</style>

<script>
  class AstroNavigation extends HTMLElement {
    constructor() {
      super();

      // Read the message from the data attribute.
      const menuBtn = this.querySelector("#hamburger-menu");
      const modal = this.querySelector(".modal")?.classList;
      const hamburderUpper = this.querySelector(".upper")?.classList;
      const hamburderMiddle = this.querySelector(".middle")?.classList;
      const hamburderLower = this.querySelector(".lower")?.classList;

      menuBtn?.addEventListener("click", function () {
        const menuExpanded = menuBtn?.getAttribute("aria-expanded");
        if (menuExpanded === "false") {
          menuBtn?.setAttribute("aria-expanded", "true");
          modal?.remove("modal-closed");
          hamburderUpper?.add("upper-open");
          hamburderUpper?.remove("upper");
          hamburderMiddle?.add("middle-open");
          hamburderMiddle?.remove("middle");
          hamburderLower?.add("lower-open");
          hamburderLower?.remove("lower");
        } else {
          menuBtn?.setAttribute("aria-expanded", "false");
          modal?.add("modal-closed");
          hamburderUpper?.remove("upper-open");
          hamburderUpper?.add("upper");
          hamburderMiddle?.remove("middle-open");
          hamburderMiddle?.add("middle");
          hamburderLower?.remove("lower-open");
          hamburderLower?.add("lower");
        }
      });
    }
  }

  customElements.define("astro-navigation", AstroNavigation);
</script>
